{% extends "base.html" %} 
{% block content %}
<div class="container mt-5 text-white">
    <div class="row">
        <div class="col-md-12">
            <h2>Eliminar Material</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <form action="" method="post">
                <!-- Metodo de protección --> 
                {% csrf_token %}
                <!-- Confirmación de Eliminación del Material --> 
                <p>¿Desea eliminar por completo y con total seguridad el producto "{{ material.material }}"?</p> 
                <input class="btn btn-primary" type="submit" value="Eliminar">
                <a href="{% url 'material' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}