{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mt-5 text-white">
    <div class="row">
        <div class="col-md-12">
            <h2>Editar Recompensa</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <form action="" method="post">
                <!-- Metodo de Protección-->
                {% csrf_token %}
                <!-- Generación de formulario para la edición del Recompensa -->
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Editar Recompensa">
                <a href="{% url 'recompensa' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}